.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1440px;
}
.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 25px;
  border: 1px solid #000;

  border-radius: 18px;
  padding: 30px;
  padding-top: 80px;
  width: 100%;
}
.heading {
  font-size: 60px;
  font-weight: 600;
}
.tagline {
  font-size: 28px;
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  border-radius: 15px;
  background: #000;
  color: #fff;
  font-size: 30px;
}
.cardsWrapper {
  display: flex;
  justify-content: flex-start;
}
.cards {
  --top: 70px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  position: relative;
}
.arrow {
  position: absolute;
  right: 0;
  z-index: 2;
  font-size: 40px;
  transform: translateY(-50%);
  top: var(--top);
}
.cards:before {
  content: "";
  position: absolute;
  width: calc(100% - 10px);
  height: var(--thickness);
  top: var(--top);
  transform: translateY(-50%);
  background: #000;
  z-index: 1;
}
.items-1 {
  width: 100%;
}
.items-2 {
  width: calc(50%);
}

.items-3 {
  width: calc(100% / 3);
}

.items-4 {
  width: calc(100% / 4);
}

.items-5 {
  width: calc(100% / 5);
}
.card {
  display: flex;
  flex-direction: column;

  gap: 15px;
  border: 1px solid #000;
  background: var(--background);
  border-radius: 18px;
  padding: 24px;
  padding-top: 120px;
  max-width: 370px;
  width: 100%;
}
/* .circle {
  content: " ";
  position: absolute;
  top: var(--top);

  max-width: 24px;
  min-width: 24px;
  max-height: 24px;
  min-height: 24px;
  border-radius: 50%;
  border: 2px solid #000;

  z-index: 1;
  background: var(--background);
} */

.items-6 {
  width: calc(100% / 6);
}
.circle {
  max-width: 27px;
  min-width: 27px;
  max-height: 27px;
  min-height: 27px;
  border-radius: 50%;
  border: 2px solid #000;
  background: var(--background);
  position: absolute;
  top: var(--top);
  transform: translateY(-50%);
  z-index: 2;
}
.title {
  font-size: 30px;
  font-weight: 700;
}
.info {
  font-size: 20px;
}
